<!-- 
    FOR SAILS CONTOLLER GalleryController TEMPLATE 
    2015-08-28 06:08:59
-->
{% import 'common/line.html' as line %}


{% extends 'common/base.html' %}
{% block title %} Gallery 相册 {% endblock %}
{% block css %}
<!-- @SOURCE@scss: "/static/scss/gallery/main.scss" -->
<link rel="stylesheet" type="text/css" href="/static/css/gallery/main.css">
{% endblock %}
{% block mobile_meta %} {% parent %} {% endblock %}

{% block body %}
{{header.Nav('GALLERY')}}
<div class="wrap">
    <div class="content">
        <div class="gallery-header">
            <h3>Gallery 相册</h3>
        </div>
        <div class="gallery-main">
        {% for gallery in gallery_list %}
            {{line.Line()}} 
        {% endfor %}
        </div>
    </div>
</div>

{% include 'common/footer.html' %}
{% endblock %}

{% block script %}
{% parent %}
<!-- @SOURCE@es6: "/static/es6/gallery/main.es6" -->
<script type="text/javascript" src="/static/js/gallery/main.js"></script>
{% endblock %}
