<!-- 
    FOR SAILS CONTOLLER KaratController TEMPLATE 
    2015-09-02 02:09:11
-->
{% import 'common/pagination.html' as pagination %}
{% extends 'common/base.html' %}
{% block title %} Article List {% endblock %}
{% block css %}
<!-- @SOURCE@scss: "/static/scss/karat/create_article.scss" -->
<link rel="stylesheet" type="text/css" href="/static/css/karat/create_article.css">
{% endblock %}
{% block header %}
<header>
    <h3>Article List</h3>
</header>

{% endblock %}

{% block body %}
<div class="wrap">
    <div>
        <a target="_blank" href="/">Home</a>
        <a href="/karat/logout">Logout</a>
        <a target="_blank" href="/karat/article_editor">Create New Article</a>
    </div>
    <div class="article-list">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Create Time</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articleList %}
                <tr class="article-item" data-article="{{article.id}}">
                    <td><a target="_blank" href="/article/{{article.id}}">{{article.title}}</a></td>
                    <td>{{article.type}}</td>
                    <td>{{article.createdAt|date('Y-m-d H:m:s', -480, 'CCT') =}}</td>
                    <td>
                        <span>
                            <a class="edit_btn" href="/karat/article_editor/{{article.id}}" target="_blank">Edit</a>
                            <a class="del_btn" href="javascript:;">Delete</a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagination.Pagination('/karat/article_page', prevPage, nextPage) }}
</div>
{% endblock %}

{% block script %}
{% parent %}
<!-- @SOURCE@es6: "/static/es6/karat/create_article.es6" -->
<!-- <script type="text/javascript" src="/static/lib/ckeditor/ckeditor.js"></script> -->
<script type="text/javascript" src="/static/js/karat/article_manage.js"></script>
{% endblock %}
