<!-- 
    FOR SAILS CONTOLLER KaratController TEMPLATE 
    2015-09-02 02:09:11
-->

{% extends 'common/base.html' %}
{% block title %} Karat Manage {% endblock %}
{% block css %}
<!-- @SOURCE@scss: "/static/scss/karat/main.scss" -->
<link rel="stylesheet" type="text/css" href="/static/css/karat/main.css">
{% endblock %}
{% block header %}
<header>
    <h3>Karat Manage</h3>
</header>

{% endblock %}

{% block body %}
<div class="wrap">
    <div>
        {% import 'common/admin_navigator.html' as navigator %}
        <a target="_blank" href="/karat/deploy">Deploy</a>
    </div>
    <h2 class="mov-title">Karat Manage</h2>
    <ul>
        <li><a target="_blank" href="/karat/article_editor">Create A New Article</a></li>
        <li><a href="/karat/article_list">Article List</a></li>
        <li><a href="/karat/notification">Notification</a></li>
    </ul>
</div>
{% endblock %}

{% block script %}
{% parent %}
<!-- @SOURCE@es6: "/static/es6/karat/main.es6" -->
<script type="text/javascript" src="/static/js/karat/main.js"></script>
{% endblock %}
