<!DOCTYPE html>
<html lang="zh" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{% block title %} With You {% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="keywords" content="{% block keywords %}with you{% endblock %}">
<meta name="description" content="{% block description %}withu.cc welcome{% endblock %}">
<meta name="author" content="cloud">
<meta name="version" content="1.0">
<link rel="icon" href="/static/favicon.ico" />
{% block css %}{% endblock %}
</head>
<body>
{% block body %} Witu.cc, Welcome here {% endblock %}
</body>
</html>
