/**
 * CARD
 */
/**
 * BASE SIZE DEFINE
 * @type {[type]}
 */
/**
 * Text Color
 */
/**
 * Define UI Button Style
 */
/**
 * UTIL SCSS FOR PAGE
 */
/**
 * UTILS BASE
 */
/**
 * CSS3 HARDWARE ACCELERATE 
 */
/**
 * ANIMATION AND TRANSITION
 */
.card {
  margin: 0 auto 2rem;
  padding: 2rem;
  word-wrap: break-word;
  background-color: #FFF;
  overflow: hidden;
  box-shadow: 1px 1px 1px 0 #DEDEDE, -1px 0 0 0 #DEDEDE;
  min-height: 300px; }
  .card .tag-list {
    margin-bottom: 1.5em;
    border-bottom: 1px dotted #D9D5D5;
    padding-bottom: 8px; }
    .card .tag-list a {
      font-size: 12px;
      background-color: #F2FCBC;
      border-radius: 2px;
      color: #5F5C5C;
      padding: 2px 4px;
      margin-right: 5px; }
  .card .short {
    height: 108px;
    overflow: hidden; }
  .card .full {
    display: none;
    height: 0;
    overflow: hidden; }
    .card .full img {
      max-width: 100%;
      height: auto; }
    .content_full .full {
      display: block;
      height: auto; }
    .content_full .short {
      display: none; }
  .card.card_hide {
    display: none; }
  .card .card-title {
    font-size: 3.6rem;
    line-height: 1.4;
    margin-top: 0; }
    .card .card-title a {
      color: #141412; }
      .card .card-title a:hover {
        color: #18BC9C; }
  .card .card-meta {
    display: block;
    margin: 0 0 1.2rem;
    font-size: 1.4rem;
    line-height: 2rem; }
    .card .card-meta img {
      width: 24px;
      height: 24px;
      float: left;
      margin-right: 9px;
      border-radius: 100%; }
    .card .card-meta a {
      color: #18BC9C; }
      .card .card-meta a:hover {
        text-decoration: underline; }
    .card .card-meta time {
      display: inline-block;
      margin-left: 8px;
      white-space: nowrap; }
  .card .excerpt .article-absimg {
    display: inline-block;
    width: 85px;
    height: 85px;
    float: left;
    margin-right: 15px;
    margin-bottom: 2px; }
  .card .excerpt p {
    margin: 0;
    line-height: 1.7em; }
  .card p.footer span {
    display: none; }
  .content_full p.footer {
    position: relative; }
    .content_full p.footer span {
      display: inline;
      position: absolute;
      top: 35px;
      font-size: 10px;
      color: #A6A6A6; }
  .card .read-more {
    margin-top: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #FFF;
    background-color: #F39C12;
    border-color: #F39C12;
    float: right; }
