@charset "UTF-8";
/**
 * FOR COMMON HEADER
 */
/**
 * BASE SIZE DEFINE
 * @type {[type]}
 */
/**
 * Text Color
 */
/**
 * Define UI Button Style
 */
/**
 * UTIL SCSS FOR PAGE
 */
/**
 * UTILS BASE
 */
/**
 * CSS3 HARDWARE ACCELERATE 
 */
/**
 * ANIMATION AND TRANSITION
 */
/**
 * Stroke Calculator =====================
 * @type {[type]}
 * @description: stroke-dashoffset ,
 * 是起点偏移量，在svg的rect中，从左上角开始，
 * 如果offset为负值，那么线段向右偏移移动。
 * dasharray第一个是线段长度，
 * 第二个是空白间隔长度，
 * 当空白间隔小于 offset的时候，
 * 起点处会进入一部分线段（起点之前的线段）。
 * 线段是无穷循环的，
 * 但是都会没入结点中，超过结点后，被覆盖。
 */
/**
 * A text center size
 */
@keyframes draw {
  0% {
    stroke-dasharray: 120px 258px;
    stroke-dashoffset: -258px;
    stroke-width: 6px; }
  100% {
    stroke-dasharray: 456px;
    stroke-dashoffset: 0;
    stroke-width: 2px; } }

/**
 * FIX Firefox bugs: anti-direcion，
 * and dashoffset is different with Chrome
 */
@keyframes moz_draw {
  0% {
    stroke-dasharray: 120px 258px;
    stroke-dashoffset: -258px;
    stroke-width: 6px; }
  100% {
    stroke-dasharray: 714px;
    stroke-dashoffset: 258px;
    stroke-width: 2px; } }

/**
 * HEADER SET STYLE
 * @type {[type]}
 */
body > header {
  background-color: #222;
  padding: 10px 0 0 38px;
  width: 100%;
  min-width: 1020px; }
  body > header .logo {
    position: absolute;
    top: 16px;
    left: 40px;
    width: 38px; }
  @media (max-width: 1055px) {
    body > header .logo {
      left: 18px; } }
  @media (min-width: 1180px) {
    body > header .logo {
      left: 80px; } }
  body > header nav {
    height: 70px;
    text-align: center; }
    body > header nav .menu {
      width: 180px;
      height: 48px;
      display: inline-block;
      margin: 2px;
      text-align: center;
      position: relative;
      /**
         * @debug Firefox和一些safair版本中，不识别CSS中的width和height
         * 必须将width写在svg代码中
         */ }
      body > header nav .menu svg {
        width: 180px;
        height: 48px; }
        body > header nav .menu svg .shape {
          width: 180px;
          height: 48px;
          fill: transparent;
          stroke-dasharray: 120px 258px;
          stroke-dashoffset: -258px;
          stroke-width: 0;
          stroke: #19f6e8; }
          nav .menu.active svg .shape {
            stroke-width: 6px; }
      body > header nav .menu:hover .shape {
        -webkit-animation: 0.5s linear 0s normal forwards 1 draw;
        animation: 0.5s linear 0s normal forwards 1 draw; }

@-moz-document url-prefix() {
  body > header nav .menu:hover .shape {
    animation: 0.5s linear 0s normal forwards 1 moz_draw; } }
      body > header nav .menu .text {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -ms-perspective: 1000;
        perspective: 1000;
        /* Other transform properties here */
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        color: #FFF;
        font-size: 18px;
        letter-spacing: 3px;
        line-height: 18px;
        position: relative;
        bottom: 35px;
        text-decoration: none; }
        .menu.on .text {
          filter: url(blur.svg#blur);
          -webkit-filter: blur(2px);
          -moz-filter: blur(2px);
          -ms-filter: blur(2px);
          filter: blur(2px); }
        body > header nav .menu .text:hover {
          color: #FFF;
          letter-spacing: 4px; }
      body > header nav .menu .sub-menu {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -ms-perspective: 1000;
        perspective: 1000;
        /* Other transform properties here */
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        visibility: hidden;
        opacity: 0.1;
        position: absolute;
        z-index: 2;
        top: 50px;
        padding: 18px 0 0 0;
        width: 180px;
        background-color: rgba(17, 20, 16, 0.77); }
        .menu:hover .sub-menu {
          visibility: visible;
          opacity: 1;
          /* li a {
              @include blur(0);
            } */ }
        body > header nav .menu .sub-menu li {
          letter-spacing: 3px;
          border-bottom: 1px solid #8D8D8D; }
          body > header nav .menu .sub-menu li:last-child {
            border-bottom: 1px solid rgba(17, 20, 16, 0.77); }
          body > header nav .menu .sub-menu li:hover {
            letter-spacing: 4px;
            background-color: rgba(112, 113, 113, 0.7); }
          body > header nav .menu .sub-menu li a {
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-perspective: 1000;
            -moz-perspective: 1000;
            -ms-perspective: 1000;
            perspective: 1000;
            /* Other transform properties here */
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            display: inline-block;
            line-height: 45px;
            width: 100%;
            color: #FFF;
            /*  &:hover {
                color: #FFF;
              } */ }
