<!-- 
    FOR SAILS CONTOLLER EssayController TEMPLATE 
    2015-08-28 06:08:50
-->

{% import 'common/card.html' as card %}
{% import 'common/pagination.html' as pagination %}

{% extends 'common/base.html' %}
{% block title %} Article 文章 {% endblock %}
{% block css %}
<!-- @SOURCE@scss: "/static/scss/essay/main.scss" -->
<link rel="stylesheet" type="text/css" href="/static/css/essay/main.css">
{% endblock %}
{% block mobile_meta %} {% parent %} {% endblock %}

{% block body %}
{{header.Nav('ARTICLE')}}
<div class="wrap clear">
    <div class="content">
    {% for article in articleList %}
        {{ card.Card(article, '阅读全文', false) }}
    {% endfor %}
    {{ pagination.Pagination('/essay/page', prevPage, nextPage) }}
    </div>

    <aside class="sidebar">
        {% include 'common/widget.html' with articleList %}
    </aside>
</div>
{% include 'common/footer.html' %}
{% endblock %}

{% block script %}
{% parent %}
<!-- @SOURCE@es6: "/static/es6/essay/main.es6" -->
<script type="text/javascript" src="/static/js/essay/main.js"></script>
{% endblock %}