/**
 * FOR AboutController SCSS 
 * 2015-08-28 06:08:46
 */

@import '../common/util';
@import '../common/common';


h2 {
    margin-bottom: 20px;
}
.play{
    float: left;
}

.info {
    float: left;
    margin-left: 30px;
}