/**
 * FOR LINE UI
 */
.line {
  width: 464px;
  padding: 20px;
  background-color: white;
  border: 1px solid #EAEAEA;
  height: 395px;
  margin-bottom: 30px; }
  .line .line-title {
    height: 70px;
    position: relative; }
    .line .line-title a {
      color: #444; }
      .line .line-title a:hover {
        color: #18BC9C; }
    .line .line-title span {
      color: #888;
      display: block;
      font-size: 12px; }
  .line .line-content {
    height: 279px;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: flex-start;
    flex-flow: row wrap;
    align-content: space-between; }
    .line .line-content .frame {
      width: 140px;
      height: 140px;
      overflow: hidden;
      border-bottom: 1px solid #FFF;
      border-right: 1px solid #FFF; }
    .line .line-content img {
      height: 140px;
      width: 140px;
      opacity: 0; }
