/**
 * FOR GalleryController SCSS 
 * 2015-08-28 06:08:59
 */

@import '../common/util';
@import '../common/common';


/**
 * FOR LINE UI STYLE
 */
@import 'line';


/**
 * FOR PHOTOGRAPH VIEWER
 */

@import '../../lib/viewer-master/dist/viewer';


.content {
    width: 100%;
    background: #FFF;

    padding: 30px;

    box-shadow: 1px 1px 1px 0 #DEDEDE, -1px 0 0 0 #DEDEDE;
}

.gallery-header {
    height: 120px;

    h3{
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-size: 24px;

    }
}

.gallery-main {
    display: flex;
    display: -webkit-flex;

    flex-direction: row; 
    align-items: flex-start;
    justify-content: space-between;

    flex-flow: row wrap;
    align-content: space-between;
}

