<!-- 
    FOR SAILS CONTOLLER ErrorController TEMPLATE 
    2015-09-04 02:09:16
-->

{% extends 'common/base.html' %}
{% block title %} ErrorController Page {% endblock %}
{% block css %}
<!-- @SOURCE@scss: "/static/scss/error/main.scss" -->
<link rel="stylesheet" type="text/css" href="/static/css/error/main.css">
{% endblock %}

{% block body %}

<p>
    I am error.html
</p>

<!-- @SOURCE@es6: "/static/es6/error/main.es6" -->
<script type="text/javascript" src="/static/js/error/main.js"></script>
{% endblock %}
