@charset "UTF-8";
/**
 * FOR DancerController SCSS 
 * 2015-08-25 09:08:43
 */
/* RESET =================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  /*font-size: 100%;*/
  font-size: 14px;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* For HTML5 OLD BROWSER */
article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
  display: block; }

a img {
  border: 0; }

a, input, a:hover, a:active, a:link {
  outline: none; }

figure {
  position: relative; }

figure img, #profiles img {
  width: 100%; }

input:focus, textarea:focus {
  outline: none; }

/*::selection    {background: rgb(255,204,0);}*/
/*::-moz-selection {background: rgb(255,204,0);}*/
/* /RESET =================================================*/
/**
 * UTIL SCSS FOR PAGE
 */
/**
 * UTILS BASE
 */
/**
 * CSS3 HARDWARE ACCELERATE 
 */
/**
 * ANIMATION AND TRANSITION
 */
/* common unit*/
body a {
  text-decoration: none;
  /*cursor: pointer;*/ }

/* COMMON BLOCK */
body {
  overflow: hidden;
  background: #000; }

.main-header {
  background-color: transparent;
  background: url(/static/img/common/gradient.png) repeat-x;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3); }
  .main-header .main-nav {
    text-align: center; }
    .main-header .main-nav a {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      width: 90px;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 16px;
      color: #FFF;
      background: transparent;
      filter: url(blur.svg#blur);
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px); }
      .main-header .main-nav a:hover, .main-header .main-nav a.active {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        filter: none;
        /*background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,rgba(216, 213, 213, 0.15)),color-stop(1,rgba(134, 134, 134, 0.06)));*/ }
      .main-header .main-nav a.active {
        letter-spacing: 2px;
        background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, rgba(216, 213, 213, 0.15)), color-stop(1, rgba(134, 134, 134, 0.06))); }

/* /END ================ */
.main-body {
  position: relative;
  width: 100%; }

.info-widgets {
  position: fixed;
  bottom: 30px;
  left: 40px;
  z-index: 2;
  /* 签名 */ }
  .info-widgets .signature-img {
    width: 80px;
    -webkit-transition-property: width; }
    .info-widgets .signature-img:hover {
      width: 90px;
      -webkit-transition-property: width; }

.dancer-img-ctn {
  width: 100%;
  /*height: 100%;*/
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
  .dancer-img-ctn img {
    visibility: hidden;
    width: 100%;
    position: absolute;
    /*height: 100%;*/ }

/**
 * DANCER CANVAS CTN
 */
.dancer-img-ctn canvas {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /*transition: opacity 2.5s ease;*/
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 2.5s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: initial;
  -moz-transition-property: opacity;
  -moz-transition-duration: 2.5s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: initial;
  -o-transition-property: opacity;
  -o-transition-duration: 2.5s;
  -o-transition-timing-function: ease;
  -o-transition-delay: initial;
  -ms-transition-property: opacity;
  -ms-transition-duration: 2.5s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: initial; }

.dancer-img-ctn #myDancer_1 {
  opacity: 1; }
  .dancer-img-ctn #myDancer_1.opacity_0 {
    opacity: 0.01; }

.dancer-img-ctn #myDancer.opacity_0 {
  opacity: 0.01; }
