<div class="banner">
    {% if !_is_mobile %}
    <img alt="克拉 Karat, Fleur Blanche" src="/static/img/common/banner.jpg" />
    {% else %}
    <img alt="克拉 Karat, Fleur Blanche" src="/static/img/common/m/p{{ '1,3'|randNum }}.jpg" /> 
    {% endif %}
    <!-- <canvas class="canvas"></canvas> -->
    <!-- <svg id="banner_svg" viewBox="0 0 1020 200"></svg> -->

    <!-- <audio style="display:none;" id="home_banner_music" poster="/static/img/index/poster.jpg" autoplay  loop="true" >
        <source src="/static/audio/leave_the_world_behind.mp3" type="audio/mp3">
        <source src="/static/audio/levae_the_world_behind.ogg" type="audio/ogg">
    </audio> -->
</div>