<!-- 
    FOR SAILS CONTOLLER ToxicController TEMPLATE 
    2015-11-10 04:11:19
-->

{% extends 'common/base.html' %}
{% block title %} Toxic 有毒 {% endblock %}
{% block css %}
<!-- @SOURCE@scss: "/static/scss/toxic/main.scss" -->
<link rel="stylesheet" type="text/css" href="/static/css/toxic/main.css">
{% endblock %}
{% block mobile_meta %} {% parent %} {% endblock %}

{% block body %}
{{header.Nav('TOXIC')}}
<div class="wrap clear">
    <div class="content">
        <h1 class="page-title">有毒的，好玩的</h1>
        <section class="org job_sexy_num">
            <h3 class="org-title">你的Job性感指数</h3>
            <ul class="clear">
                <li>
                    <span>月工资(元)</span><input name="per" type="number"  />
                </li>
                <li>
                    <span>加班时间(小时)</span><input name="extra" type="number"  />
                </li>
                <li>
                    <span>通勤时间(小时)</span><input name="traffic" type="number"  />
                </li>
                <li>
                    <span>月工作天数(天)</span><input name="day" type="number"  />
                </li>
            </ul>
            <div class="org-uo">
                <a href="javascript:;" class="ui-button cal_btn">计算</a>
            </div>
            <div class="result-out">
                <div>计算结果：</div>
                <div class="result"></div>

                <div class="desc">计算公式：月薪/(8+加班时间*1.1+通勤时间*0.9)*月工作天数)</div>  

            </div> 
        </section>
    </div>

    <aside class="sidebar">
        {% include 'common/widget.html' with articleList %}
    </aside>
</div>
{% include 'common/footer.html' %}
{% endblock %}



{% block script %}
{% parent %}
<!-- @SOURCE@es6: "/static/es6/toxic/main.es6" -->
<script type="text/javascript" src="/static/js/toxic/main.js"></script>
{% endblock %}
