/**
 * FOR KaratController SCSS 
 * 2015-09-02 02:09:11
 */
@import '../common/common';

.wrap {
    width: 96%;
}
.notification-list {
    h3 {
        padding: 20px 0;
        text-align: center;
    }
    td {
        text-align: center;
        &.unread {
            background: #41d63a;
            color: white;
        }
        .content-editor {
            &:focus {
                background-color: yellow;
            }
        }
    }  
}